<!-- F O O T E R -->
<footer class="footer">
  <div class="container">
    <div class="">
      <a class="" href="./index.html">watchcharm</a>
      <div class="footer-social-div">
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a class="icon-footer" href="">
              <svg class="icon-footer-svg" width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a class="icon-footer" href="">
              <svg class="icon-footer-svg" width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a class="icon-footer" href="">
              <svg class="icon-footer-svg" width="24" height="24">
                <use href="./images/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <a class="footer-tel" href="tel:+380684439426">+380(68) 443-94-26</a>
      <p class="keller-text">
        Increase the flow of customers and sales for your business with digital
        marketing & growth solutions.
      </p>
    </div>

    <div class="keller-form-div">
      <p class="keller-form-paragraf">Subscribe</p>
      <form class="keller-form">
        <label class="keller-label">
          <input
            class="keller-input"
            name="user-subcribe"
            type="email"
            placeholder="E-mail"
          />
        </label>
        <button class="keller-form-btn" type="submit">
          Subscribe
          <svg class="keller-form-svg" width="24" height="24">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</footer>
