<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">Page 2</a>
      </li>

      <li class="nav-item">
        <a href="./page-3.html" class="nav-link">Page 3</a>
      </li>
    </ul>
  </nav>
  <address>
    <ul class="header-adress-list">
      <li class="header-adress-item">
        <a
          class="header-adress-link"
          href="mailto:info@devstudio.com"
          target="_blank"
          rel="noopener noreferrer nofolow"
          >info@devstudio.com</a
        >
      </li>
      <li class="header-adress-item">
        <a
          class="header-adress-link"
          href="tel:+110001111111"
          target="_blank"
          rel="noopener noreferrer nofolow"
          >+11 (000) 111-11-11</a
        >
      </li>
    </ul>
  </address>
</header>
