<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a href="./index.html" class="header-logo">whatchcharm</a>
      <ul class="header-menu-list">
        <li class="header-menu-item">
          <a href="#section-1" class="header-menu-link header-dot">Home</a>
        </li>
        <li class="header-menu-item">
          <a href="#section-2" class="header-menu-link">About Us</a>
        </li>
        <li class="header-menu-item">
          <a href="#section-3" class="header-menu-link">Catalog</a>
        </li>
        <li class="header-menu-item">
          <a href="#section-4" class="header-menu-link">Sale</a>
        </li>
        <li class="header-menu-item">
          <a href="#section-5" class="header-menu-link">Reviews</a>
        </li>
        <li class="header-menu-item">
          <a href="#section-6" class="header-menu-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="header-icon-list">
      <li class="header-icon-item">
        <a href="https://www.instagram.com/goitclub/" class="header-icon-link">
          <svg class="header-icon-svg" width="18" height="18">
            <use href="../img/javascript.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-icon-item">
        <a href="https://www.youtube.com/c/GoIT" class="header-icon-link">
          <svg class="header-icon-svg" width="18" height="18">
            <use href="../img/javascript.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-icon-item">
        <a href="https://www.facebook.com/goITclub/" class="header-icon-link">
          <svg class="header-icon-svg" width="18" height="18">
            <use href="../img/javascript.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
