<section class="contact" id="section-7">
   
       <div class="container-contact">
            <h2 class="contact-title">Contact Us</h2>
            <div class="contact-all">
            <div class="contact-list">
            <form class="contact-form">
            <p class="contact-text">Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you shortly.</p>
            
                <div class="contact-list-item">
                    <label for="user-name" class="contact-label visually-hidden"></label>
                    <input 
                     class="form-input" 
                     type="text" 
                     name="name" 
                     id="user-name" 
                     required 
                     placeholder="Name"/>
               
               
                    <label for="user-email" class="contact-label visually-hidden"></label>
                    <input 
                    class="form-input" 
                    type="email" 
                    name="email" 
                    id="email" 
                    pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" 
                    required 
                    placeholder="Email"/>
               
                
                    <label for="+380" class="contact-label visually-hidden"></label>
                    <input 
                    class="form-input" 
                    type="tel" 
                    name="tel" 
                    id="user-tel" 
                    pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$" 
                    required 
                    placeholder="+380"/>
               
                
                    <label for="user-comment" class="contact-label visually-hidden"></label>
                    <textarea 
                    class="contact-textarea" 
                    name="user-comment" 
                    id="user-comment"
                    required 
                    placeholder="Comment"></textarea>
                 </div>
            <button class="contact-btn" type="submit">Send</button>
            </form>
        </div>
        <div class="contact-img-more">
            <picture>
                <source srcset="
                /img/contact-desk-1x.jpg 1x, 
                /img/contact-desk-2x.jpg 2x"
                width="530"
                height="556"
                media="(min-width: 1280px)" />

                <source srcset="
               /img/contact-tab-1x.jpg 1x, 
               /img/contact-tab-2x.jpg 2x"
               width="704"
               height="556"
               media="(min-width: 768px)" />
              
               <source srcset="
              /img/contact-mob-1x.jpg 1x, 
              /img/contact-mob-2x.jpg 2x" 
              width="335"
              height="512"
              media="(max-width: 768px)" />
             
              <img src="/img/contact-mob-1x.jpg"
              width="335"
              height="512" 
              alt="Hand watch"
              class="contact-img">
            </picture>
        </div> 
     </div>
 </div>
</section>