<section class="contact">
   
        <h2 class="contact-title">Contact Us</h2>
        <div class="contact-list">
        <p class="contact-text">Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you shortly.</p>
        <form>
            <div class="contact-list-item">
                <label for="name">Name</label>
                <input class="form-input" type="text" name="Name" id="Name" required>
            </div>
           <div class="contact-list-item-email">
                <label for="email">Email</label>
                <input class="form-input" type="text" name="email" id="email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required>
           </div>
            <div class="contact-list-item">
                <label for="+380">+380</label>
                <input class="form-input" type="text" name="+380" id="+380" pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$" required>
            </div>
            <div class="contact-list-item-comment">
                <label for="comment">Comment</label>
                <textarea class="textarea" name="comment" id="comment"></textarea>
             </div>
        </form>
        <button class="contact-btn" type="submit">Send</button>
    </div>
        <img class="contact-img" src="src/img/contact-mob-1x.jpg" alt="">
</section>