<section class="section-3" id="section-3">
  <div class="container">
    <section class="catalog">
      <h2 class="catalog-title">Catalog</h2>
      <ul class="catalog-list">
        <li class="catalog-iteam">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="/img/catalog-1-1x.png, /img/catalog-1-2x.png 2x"
              type="img/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/catalog-1-1x.png, /img/catalog-1-2x.png 2x"
              type="img/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/catalog-1-1x.png, /img/catalog-1-2x.png 2x"
              type="img/png"
            />

            <img
              src="/img/catalog-1-1x.png"
              alt="Garmin Fenix 7X Pro Sapphire Solar"
              width="304"
              class="catalog-images"
            />
          </picture>
          <div class="catalog-bloc">
            <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
            <p class="catalog-text">€500</p>
          </div>
        </li>
        <li class="catalog-iteam">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="/img/catalog-2-1x.png, /img/catalog-2-2x.png 2x"
              type="img/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/catalog-2-1x.png, /img/catalog-2-2x.png 2x"
              type="img/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/catalog-2-1x.png, /img/catalog-2-2x.png 2x"
              type="img/png"
            />
          </picture>
          <img
            src="/img/catalog-2-1x.png"
            alt="Garmin Marq Athlete "
            width="304"
            class="catalog-images"
          />
          <div class="catalog-bloc">
            <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
            <p class="catalog-text">€450</p>
          </div>
        </li>
        <li class="catalog-iteam">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="/img/catalog-3-1x.png, /img/catalog-3-2x.png 2x"
              type="img/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/catalog-3-1x.png, /img/catalog-3-2x.png 2x"
              type="img/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/catalog-3-1x.png, /img/catalog-3-2x.png 2x"
              type="img/png"
            />
          </picture>
          <img
            src="/img/catalog-3-1x.png"
            alt="Garmin Descent MK1 "
            width="304"
            class="catalog-images"
          />
          <div class="catalog-bloc">
            <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
            <p class="catalog-text">€680</p>
          </div>
        </li>
        <li class="catalog-iteam">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="/img/catalog-4-1x.png, /img/catalog-4-2x.png 2x"
              type="img/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/catalog-4-1x.png, /img/catalog-4-2x.png 2x"
              type="img/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/catalog-4-1x.png, /img/catalog-4-2x.png 2x"
              type="img/png"
            />
          </picture>
          <img
            src="/img/catalog-4-1x.png"
            alt="Garmin D2 Delta PX"
            width="304"
            class="catalog-images"
          />
          <div class="catalog-bloc">
            <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
            <p class="catalog-text">€380</p>
          </div>
        </li>
        <li class="catalog-iteam catalog-bloc-img">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="/img/catalog-5-1x.png, /img/catalog-5-2x.png 2x"
              type="img/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/catalog-5-1x.png, /img/catalog-5-2x.png 2x"
              type="img/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/catalog-5-1x.png, /img/catalog-5-2x.png 2x"
              type="img/png"
            />
            <img
              src="/img/catalog-5-1x.png"
              alt="Garmin Fenix 6 Pro Solar"
              width="304"
              class="catalog-images catalog-bloc-img"
            />
          </picture>
          <div class="catalog-bloc catalog-bloc-img">
            <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
            <p class="catalog-text">€400</p>
          </div>
        </li>
        <li class="catalog-iteam catalog-bloc-img">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="/img/catalog-6-1x.png, /img/catalog-6-2x.png 2x"
              type="img/png"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/catalog-6-1x.png, /img/catalog-6-2x.png 2x"
              type="img/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/catalog-6-1x.png, /img/catalog-6-2x.png 2x"
              type="img/png"
            />
            <img
              src="/img/catalog-6-1x.png"
              alt="Tube Watch S42 Date Steel With Black Case"
              width="304"
              class="catalog-images catalog-bloc-img"
            />
          </picture>
          <div class="catalog-bloc catalog-bloc-img">
            <h3 class="catalog-subtitle catalog-subtitle-derct">
              Tube Watch S42 Date Steel With Black Case
            </h3>
            <p class="catalog-text">€395</p>
          </div>
        </li>
      </ul>
      <button class="catalog-button" type="button">Show more</button>
    </section>
  </div>
</section>
