<section class="contact">
   
        <h2 class="contact-title">Contact Us</h2>
        <div class="contact-list">
        <p class="contact-text">Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you shortly.</p>
        <form>
            <div class="contact-list-item">
                <label for="name">Name</label>
                <input class="form-input" type="text" name="Name" id="Name" required>
            </div>
           <div class="contact-list-item-email">
                <label for="email">Email</label>
                <input class="form-input" type="text" name="email" id="email" required>
           </div>
            <div class="contact-list-item">
                <label for="+380">+380</label>
                <input class="form-input" type="text" name="+380" id="+380" required>
            </div>
            <div class="contact-list-item-comment">
                <label for="comment">Comment</label>
                <input class="form-input" type="text" name="comment" id="comment" required>
            </div>
        </form>
        <button class="contact-btn" type="button">Send</button>
    </div>
        <img class="contact-img" src="" alt="">
</section>