<section class="hero">
    <div class="container-hero">
        <div class="container-hero-two">
            <h1 class="title-hero">
                Welcome to our <span class="span-hero">collection</span> of premium watches
            </h1>
            <p class="text-hero">
                Our watches are not just timepieces, but also an expression of your personality and lifestyle. From
                classic designs to modern ones, we have a watch to suit every taste and occasion.
            </p>
        </div>

        <nav class="nav-hero">
            <ul class="list-hero">
                <li class="item-hero">
                    <img class="imeg-hero" src="../img/header-1-1x.jpg" alt="elips 21">
                    </img>
                </li>
                <li class="item-hero">
                    <img class="imeg-hero" src="../img/header-2-1x.jpg" alt="elips 22">
                    </img>
                </li>
                <li class="item-hero">
                    <img class="imeg-hero" src="../img/header-3-1x.jpg" alt="elips 23">
                    </img>
                </li>
            </ul>
            <a class="link-hero" href="">Scroll down</a>
        </nav>
    </div>
    <div class="container-imege-hero">
        <picture>
            <source srcset="/src/img/header-desk-1x.jpg 1x, /src/img/header-desk-1x 2x"
            width="1150px"
            height="500px"
            media="(min-width: 1280px)" />
        </picture>

        <picture>
            <source srcset="/src/img/header-tab-1x.jpg 1x, /src/img/header-tab-1x 2x"
            width="704px"
            height="520px"
            media="(min-width: 768px)" />
        </picture>

        <picture>
            <source srcset="/src/img/header-mob-1x.jpg 1x, /src/img/header-mob-1x 2x"
            width="335px"
            height="366px"
            media="(max-widt: 768px)" />

            <img src="/src/img/contact-mob-1x.jpg" 
            width="335px"
            height="366px"
            alt="hero clock"
            class="hero-img" />
        </picture>
    </div>

</section>