<section class="sale-container">
  <h2 class="sale-headline">Sale</h2>
  <div class="sale-div-general">
    <ul class="sale-ul">
      <div class="sale-li-col">
        <li class="sele-li-png">
          <img
            srcset="/img/sale-2-1x.png 1x, /img/sale-2-2x.png 2x"
            src="/img/sale-2-1x.png"
            width="96"
            alt="clook"
            class="sele-img-png"
          />
        </li>
        <li class="sele-li-png">
          <img
            srcset="/img/sale-3-1x.png 1x, /img/sale-3-2x.png 2x"
            src="/img/sale-3-1x.png 1x"
            width="96"
            alt="clook"
            class="sele-img-png"
          />
        </li>
        <li class="sele-li-png">
          <img
            srcset="/img/sale-4-1x.png 1x, /img/sale-4-2x.png 2x"
            src="/img/sale-4-1x.png"
            width="96"
            alt="clook"
            class="sele-img-png"
          />
        </li>
        <li class="sele-li-png">
          <img
            srcset="/img/sale-5-1x.png 1x, /img/sale-5-2x.png 2x"
            src="/img/sale-5-1x.png"
            width="96"
            alt="clook"
            class="sele-img-png"
          />
        </li>
      </div>
      <li class="sele-li-png-big">
        <img
          srcset="/img/sale-1-1x.png 1x, /img/sale-1-2x.png 2x"
          src="/img/sale-1-1x.png"
          width="328"
          alt="clook"
          class="sele-img-png-big"
        />
      </li>
    </ul>
    <div class="sele-maro">
      <h3 class="sele-maro-title">MARQ® Commander (Gen 2) - Carbon Edition</h3>
      <h4 class="sele-product">Product tag: 706587</h4>
      <div class="sele-price-div">
        <h5 class="sele-price">€1500</h5>
        <p class="sele-not-price">€3000</p>
      </div>
      <p class="sele-desc">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <ul class="sele-choice-ul">
        <li class="sele-sele-choice-li">Fused carbon fiber</li>
        <li class="sele-sele-choice-li">Grade-5 Titanuim</li>
        <li class="sele-sele-choice-li">Athlete</li>
        <li class="sele-sele-choice-li">Golfer</li>
        <li class="sele-sele-choice-li">Commander</li>
        <li class="sele-sele-choice-li">Adventurer</li>
      </ul>
    </div>
  </div>
</section>
