<section class="hero" id="home">
    <div class="container">
        <div class="container-hero">
            <div class="container-hero-two">
                <h1 class="title-hero">
                    Welcome to our <span class="span-hero">collection</span> of premium watches
                </h1>
                <p class="text-hero">
                    Our watches are not just timepieces, but also an expression of your personality and lifestyle. From
                    classic designs to modern ones, we have a watch to suit every taste and occasion.
                </p>
            </div>
            
            <nav class="nav-hero">
                <ul class="list-hero">
                    <li class="item-hero">
                        <img class="imeg-hero" src="/img/header-1-1x.jpg" alt="elips 21">
                    </li>
                    <li class="item-hero">
                        <img class="imeg-hero" src="/img/header-2-1x.jpg" alt="elips 22">
                    </li>
                    <li class="item-hero">
                        <img class="imeg-hero" src="/img/header-3-1x.jpg" alt="elips 23">
                    </li>
                </ul>
                <a class="link-hero" href="">Scroll down</a>
            </nav>
        </div>
        
        <div class="container-imege-hero">
            <picture>
            <source srcset="/img/header-desk-1x.jpg 1x, /img/header-desk-2x 2x" media="(min-width: 1280px)" />
            
            <source srcset="/img/header-tab-1x.jpg 1x, /img/header-tab-2x 2x" media="(min-width: 768px)" />
            
            <source srcset="/img/header-mob-1x.jpg 1x, /img/header-mob-2x 2x" media="(max-widt: 768px)" />
            
            <img src="./img/header-mob-1x.jpg" width="1440" height="366" alt="hero clock" class="hero-img" />
            </picture>
        </div>
    </div>
</section>



