body {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0c0c0c;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section {
    padding-bottom: 60px;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
    
}





@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section {
    padding-bottom: 80px;
  }

 
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

}




@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 65px;
    padding-right: 65px;
  }

  .section {
    padding-bottom: 100px;
  }

}

