/* ================= MOBILE STYLES ============== */
.hero {
    padding: 60px 20px 0px 20px;
    margin-top: 0;
    margin-bottom: 60px;
    margin-bottom: 60px;
    min-width: 375px;
    max-height: 732px;
}

.container-hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 28px;
}

.container-hero-two {
    width: 335px;
    min-height: 206px;
    margin-bottom: 28px;
}

.title-hero {
    font-weight: 600;
    font-size: 40px;
    line-height: 0.95;
    letter-spacing: -0.02em;
    color: #0C0C0C;
    padding-bottom: 20px;
}

.span-hero {
    color: #3350E9;
}

.text-hero {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.nav-hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 335px;
    min-height: 44px;
}

.list-hero {
    display: flex;
}

.imeg-hero {
    width: 44px;
}

.link-hero {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0C0C0C;
}

.hero-img {
    height: 100%;
    width: 1;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px
}

/* =================== TABLET STYLES ============== */
@media screen and (min-width: 768px) {
    .hero {
        padding: 80px 32px 0px 32px;
        margin-top: 0;
        margin-bottom: 80px;
        min-width: 768px;
        min-height: 900px;
    }

    .container-hero {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }


    .title-hero {
        font-size: 70px;
        line-height: 0.86;
    }

    .text-hero {
        font-size: 16px;
        line-height: 1.25;
    }

    .nav-hero {
        flex-direction: column;
    }

    .link-hero {
        font-size: 20px;
        line-height: 1;
    }

    .imeg-hero {
        width: 56px;
    }

}

/* =================== LAPTOP STYLES ============== */
@media screen and (min-width: 1280px) {
    .hero {
        padding: 80px 65px 0px 65px;
        margin-top: 30px;
        margin-bottom: 100px;
        min-width: 1280px;
        min-height: 889px;
    }

    .container-hero {
        flex-wrap: nowrap;
    }

    .container-hero-two {
        width: 597px;
        height: 269px;

    }

    .title-hero {
        font-size: 72px;
        line-height: 0.87;
    }

    .imeg-hero {
        width: 60px;
    }
}
