/* -------section-hero----------- */
/* ================= MOBILE STYLES ============== */

.hero {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.container-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 28px;
}

.container-hero-two {
  width: 335px;
  min-height: 206px;
  margin-bottom: 28px;
}

.title-hero {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding-bottom: 20px;
}

.span-hero {
  color: #3350e9;
}

.text-hero {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.nav-hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 335px;
  min-height: 44px;
}

.list-hero {
  display: flex;
}

.imeg-hero {
  width: 44px;
}

.link-hero {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
}

.container-imege-hero {
  border-radius: 30px;
  width: 100%;
  height: 366px;
}

.hero-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 30px;
  border: none;
}

@media screen and (min-width: 375px) {
  .hero {
    max-width: 375px;
  }
}

/* =================== TABLET STYLES ============== */
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 80px;
  }

  .container-hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .title-hero {
    font-size: 70px;
    line-height: 0.86;
  }

  .text-hero {
    font-size: 16px;
    line-height: 1.25;
  }

  .nav-hero {
    flex-direction: column;
  }

  .link-hero {
    font-size: 20px;
    line-height: 1;
  }

  .container-imege-hero {
    border-radius: 50px;
    width: 704px;
    height: 520px;
  }

  .imeg-hero {
    width: 56px;
  }
}

/* =================== LAPTOP STYLES ============== */
@media screen and (min-width: 1280px) {
  .hero {
    max-width: 1280px;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 100px;
  }

  .container-hero {
    flex-wrap: nowrap;
  }

  .container-hero-two {
    width: 597px;
    height: 269px;
  }

  .title-hero {
    font-size: 72px;
    line-height: 0.87;
  }

  .container-imege-hero {
    width: 1150px;
    height: 500px;
  }

  .imeg-hero {
    width: 60px;
  }
}

/* -------section-hero----------- */
